
@use '@rambo-react/ui-meteors/dist/typography' as typography;

.ava {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.avaWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.urlProfile {
    cursor: pointer;
    padding-left:  12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        color: var(--color-accent-700);
    }
}


.description {
    max-width: 433px;
    min-height: 120px;
    margin-bottom: 35px;
    position: relative;

    p {
        color: red;
    }
}

.containerWrapper {
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        top: 60%;

        background-color: var(--color-dark-100);
    }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;

    p {
        top: 215px;
        right: 25px;
        color: var(--color-light-900);
    }

    min-width: 462px;
    padding: 24px 24px 44px 24px;
  }

  .location {
    margin-top: 44px;
    @include typography.Regular_text_14;

  color: var(--color-light-900);
  }